@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html {
    overflow-x: hidden;
}

    html, html a, body {
        -webkit-font-smoothing: antialiased;
    }

a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
    outline-style: none;
}

body {
    margin: 0;
    padding: 0;
}

.modal-dialog-centered {
    margin-top: 10%;
}

.modal-title {
    font-family: Muller;
    font-weight: bold;
    font-size: 25pt;
    line-height: 35pt;
    color: #4D2255;
    text-align: center;
}

.modal-body p {
    font-family: Ubuntu;
    font-size: 16pt;
    color: #1E3D87;
    text-align: center;
}

.modal-body li p {
    text-align: left;
}

.header {
    z-index: 16;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background: #4E2356;
    display: grid;
    grid-template-columns: 92px auto auto auto 92px;
}

.logo-wrap {
    outline: none;
    cursor: pointer;
    grid-column: 2 / 3;
}

.logo-img {
    padding: 10px;
    height: 100px;
}

.navbar {
    padding: 0;
    height: 100%;
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}


.socials {
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: end;
    align-items: center;
}

.social-item {
    color: white;
    padding: 0 10px;
    outline: none;
}

.fa-odnoklassniki {
    font-size: 2.7em;
}

.nav-item {
    font-size: 14pt;
    font-family: Ubuntu;
    color: white;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
}

.bm-overlay {
    display: none;
}

.bm-menu-wrap {
    display: none;
}

.bm-burger-button {
    display: none;
}

.wrapper {
    margin-top: 100px;
    display: grid;
}

    .wrapper .btn-group {
        margin: 10px 0;
    }

    .wrapper .btn {
        height: 32px;
        padding: 0 6px;
        color: white;
        font-family: Ubuntu;
        font-size: 16pt;
        background: #E95A47;
        border-color: #E95A47;
        border-radius: 5px;
        outline-style: none;
    }

        .wrapper .btn:hover {
            filter: brightness(0.9);
        }

    .wrapper .active {
        color: #333;
        background-color: #d4d4d4;
        border-color: #8c8c8c;
    }

    .wrapper .btn-group > .btn:first-child:not(:last-child) {
        border-radius: 5px;
    }

    .wrapper .btn-group > .btn:not(:first-child):not(:last-child) {
        border-radius: 5px;
    }

    .wrapper .btn-group > .btn:last-child:not(:first-child) {
        border-radius: 5px;
    }

.block {
    display: grid;
    background: white;
}

.promo-block {
    margin: auto;
    width: 80%;
}

    .promo-block .carousel {
        margin: 10px 0;
    }

    .promo-block .promo-img {
        width: 100%;
        object-fit: cover;
    }

    .promo-block .promo-block-title {
        position: absolute;
        left: 128px;
        bottom: 64px;
        z-index: 2;
        font-size: 45px;
        font-family: Muller;
        font-weight: bold;
        line-height: 45px;
        color: #fff;
    }

.heading {
    font-family: Muller;
    font-weight: bold;
    font-size: 35pt;
    line-height: 45pt;
    color: #4D2255;
}

.orange {
    color: #E95A47;
}

#about {
    grid-template-columns: repeat(auto-fit, minmax(504px, 1fr));
}

    #about div {
        margin-top: 92px;
        max-width: 640px;
        justify-self: center;
    }

    #about .item-1 {
        padding: 0 10px;
    }

    #about .item-2 .heading {
        text-align: center;
    }

    #about p {
        font-family: Ubuntu;
        font-size: 16pt;
        color: #1E3D87;
        text-align: justify;
    }

.input-form {
    display: flex;
    flex-direction: column;
    width: 470px;
}

    .input-form input {
        height: 30px;
        margin: 10px;
        width: 450px;
        font-family: Ubuntu;
        font-size: 16pt;
        background: lightgray;
        border-style: Solid;
        border-color: lightgray;
        border-width: 1px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .input-form button {
        width: 350px;
        margin: 10px;
    }

::placeholder {
    padding-left: 10px;
    font-family: Ubuntu;
    font-size: 16pt;
    color: black;
}

#advantages {
    grid-template-columns: 92px auto auto auto 92px;
    grid-template-rows: 140px 2fr 1fr 2fr 1fr;
}

    #advantages img {
        width: 60%;
        height: 60%;
        align-self: center;
        justify-self: center;
    }

    #advantages p {
        font-family: Ubuntu;
        font-size: 16pt;
        line-height: 16pt;
        letter-spacing: -0.16px;
        color: #1E3D87;
        text-align: center;
        padding: 10px 0;
    }

    #advantages .item-1 {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        align-self: end;
    }

    #advantages .item-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    #advantages .item-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #advantages .item-4 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    #advantages .item-5 {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

    #advantages .item-6 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    #advantages .item-7 {
        grid-column: 4 / 5;
        grid-row: 3 / 4;
    }

    #advantages .item-8 {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    #advantages .item-9 {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    #advantages .item-10 {
        grid-column: 3 / 4;
        grid-row: 4 / 5;
    }

    #advantages .item-11 {
        grid-column: 3 / 4;
        grid-row: 5 / 6;
    }

    #advantages .item-12 {
        grid-column: 4 / 5;
        grid-row: 4 / 5;
    }

    #advantages .item-13 {
        grid-column: 4 / 5;
        grid-row: 5 / 6;
    }

#programms {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

    #programms .program-block {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: minmax(150px, 1fr);
    }

    #programms .heading {
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        margin: 0;
        justify-self: center;
        align-self: end;
    }

    #programms .filters {
        grid-column: 1 / 6;
        grid-row: 2 / 3;
    }

    #programms .btn-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #programms .btn {
        width: 120px;
        margin: 10px;
    }

    #programms .filter-button-selected {
        background: #4F2457 !important;
    }

    #programms .filter-button:hover {
        background: #E15140;
    }

    #programms .program {
        position: relative;
    }

    #programms .card {
        position: relative;
    }

    #programms .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #programms .inactive {
        filter: grayscale(100%);
    }

    #programms .card-text {
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        font-family: Muller;
        font-size: 16pt;
        line-height: 18pt;
        letter-spacing: -0.2px;
        color: white;
    }

#starteducation {
    grid-template-columns: 3fr 2fr;
    overflow: hidden;
}

    #starteducation .item-1 {
        grid-column: 1 / 2;
        margin: 92px auto;
        display: flex;
        flex-direction: column;
        width: 540px;
    }

        #starteducation .item-1 input {
            margin: 10px 0;
        }

        #starteducation .item-1 button {
            margin: 10px 0;
        }

    #starteducation .item-2 {
        grid-column: 2 / 3;
        position: relative;
    }

    #starteducation .trial-image {
        position: absolute;
        height: auto;
        width: 100%;
        object-fit: cover;
        top: -10%;
    }

#contacts {
    grid-template-columns: 3fr 2fr;
}

    #contacts .map {
        width: 100%;
        height: 100%;
        border: 0;
    }

    #contacts .item-2 {
        margin: 92px 0 0 30px;
    }

    #contacts .heading {
        margin: 0;
        margin-top: 31px;
    }

    #contacts .sub-heading {
        margin: 0;
        margin-left: 3px;
        margin-bottom: 32px;
        font-family: Muller;
        font-weight: bold;
        font-size: 15pt;
        line-height: 20pt;
        color: #4E2356;
    }

    #contacts .centers {
        margin-left: 4px;
        padding: 0;
    }

    #contacts .center {
        padding: 5px 0;
        list-style-type: none;
        font-family: Ubuntu;
        font-size: 12pt;
        line-height: 18pt;
        color: #1E3D87;
    }

#partners {
    grid-template-columns: 92px 1fr 1fr 1fr 92px;
    grid-template-rows: 92px 100px 1fr;
}

    #partners .heading {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }

    #partners .partner {
        margin: 10px;
    }

    #partners #abc-club {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }

    #partners #bembi {
        grid-column: 3 / 4;
        grid-row: 3 / 4;
    }

        #partners #bembi .partner-logo {
            width: 60%;
            height: 60%;
            display: block;
            margin: auto;
        }

    #partners .partner {
        justify-self: center;
        align-self: center;
    }

    #partners .partner-logo {
        width: 100%;
        height: 100%;
    }

.footer {
    height: 100px;
    background: #4E2356;
    display: grid;
    grid-template-columns: 92px 3fr 2fr 92px;
    grid-template-rows: 40% 60%;
}

    .footer p {
        font-family: Ubuntu;
        font-size: 14pt;
        color: white;
    }

    .footer .socials {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
        justify-content: center;
        justify-self: end;
    }

#copyright {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end
}

#year {
    margin: 0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: start;
}

#wish {
    margin: 0;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: end;
}


@media screen and (max-width: 1366px) {

    .header {
        grid-template-columns: 203px 1fr 183px;
        height: 85px;
    }

    .logo-wrap {
        grid-column: 1 / 2;
    }

    .logo-img {
        height: 85px;
    }

    .navbar {
        grid-column: 2 / 3;
        justify-content: center;
    }

    .header .socials {
        grid-column: 3 / 4;
    }

    .heading {
        font-size: 32pt;
        line-height: 34pt;
    }

    #about div {
        margin-top: 10%;
    }

    #about p {
        font-size: 14pt;
        line-height: 16pt;
    }

    .input-form {
        width: 420px;
    }

        .input-form input {
            width: 400px;
            font-size: 14pt;
        }

        .input-form button {
            width: 300px;
        }

    ::placeholder {
        font-size: 14pt;
    }

    .wrapper .btn {
        font-size: 14pt;
    }

    #starteducation .item-1 {
        margin-top: 5%;
    }

    .footer {
        grid-template-columns: 10px 3fr 2fr 10px;
        height: 85px;
    }
}

@media screen and (max-width: 1136px) {

    .logo-img {
        padding: 5px 10px;
        height: 75px;
    }

    .nav-item {
        padding: 0 10px;
    }

    .wrapper {
        margin-top: 85px;
    }

    #advantages p {
        font-size: 14pt;
        line-height: 14pt;
    }
}

@media screen and (max-width: 1024px) {

    .header {
        height: 65px;
    }

    .logo-wrap {
        grid-column: 2 / 3;
        justify-self: center;
    }

    .logo-img {
        height: 65px;
    }

    .navbar {
        display: none;
    }

    .socials {
        display: flex;
        /*position: fixed;
        right: 0;
        top: 0;*/
        padding-right: 5px;
        height: 65px;
    }

    .fab {
        font-size: 2.1em;
    }

    .fa-odnoklassniki {
        font-size: 1.9em;
    }

    .bm-overlay {
        display: block;
    }

    .bm-menu-wrap {
        display: block;
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
        display: block;
        position: fixed;
        width: 36px;
        height: 30px;
        left: 18px;
        top: 18px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
        background: white;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
        background: #bdc3c7;
    }

    /* General sidebar styles */
    .bm-menu {
        background: #373a47;
        padding: 2.5em 1.5em 0;
        font-size: 1.15em;
    }

    .menu-item {
        font-size: 14pt;
        font-family: Ubuntu;
        color: white;
        padding: 10px;
        cursor: pointer;
    }

    .wrapper {
        margin-top: 65px;
    }

    .footer {
        height: 65px;
    }

        .footer .socials {
            display: none;
        }
}

@media screen and (max-width: 1023px) {

    #promo {
        position: relative;
    }

    .heading {
        text-align: center;
    }

    #advantages {
        grid-template-columns: 50px 1fr 1fr 50px;
        grid-template-rows: 140px 2fr 1fr 2fr 1fr 2fr 1fr;
    }

        #advantages .item-1 {
            justify-self: center;
        }

        #advantages .item-6 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }

        #advantages .item-7 {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }

        #advantages .item-8 {
            grid-column: 3 / 4;
            grid-row: 4 / 5;
        }

        #advantages .item-9 {
            grid-column: 3 / 4;
            grid-row: 5 / 6;
        }

        #advantages .item-10 {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
        }

        #advantages .item-11 {
            grid-column: 2 / 3;
            grid-row: 7 / 8;
        }

        #advantages .item-12 {
            grid-column: 3 / 4;
            grid-row: 6 / 7;
        }

        #advantages .item-13 {
            grid-column: 3 / 4;
            grid-row: 7 / 8;
        }

    #starteducation {
        grid-template-columns: 1fr;
    }

        #starteducation .item-1 .input-form {
            margin: 10px auto;
        }

        #starteducation .item-2 {
            display: none;
        }

    #contacts {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

        #contacts .item-1 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
        }

        #contacts .item-2 {
            margin: 50px 0;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: column;
        }

        #contacts .heading {
            margin: 0;
        }

        #contacts .sub-heading {
            margin: 0;
            text-align: center;
        }

        #contacts .centers {
            margin: 0;
            text-align: center;
        }

    #partners {
        grid-template-columns: 50px 1fr 1fr 1fr 50px;
        grid-template-rows: 50px 100px 1fr 50px;
    }
}

@media screen and (max-width: 768px) {

    .modal-title {
        font-size: 22pt;
        line-height: 32pt;
    }

    .modal-body p {
        font-size: 14pt;
    }

    #promo .promo-block-title {
        font-size: 30pt;
        line-height: 30pt;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .heading {
        font-size: 30pt;
        line-height: 40pt;
    }

    #starteducation .item-1 {
        grid-column: 1 / 2;
        margin: 20px 0;
        padding: 0 20px;
        justify-self: center;
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

@media screen and (max-width: 654px) {

    .header {
        display: flex;
        justify-content: center;
    }

        .header .socials {
            display: none;
        }

    #promo .promo-block-title {
        font-size: 26pt;
        line-height: 26pt;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .heading {
        font-size: 26pt;
        line-height: 26pt;
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #about div {
            margin: 20px 0;
            padding: 0 20px;
        }

        #about p {
            font-size: 14pt;
        }

        #about .item-1 h1 {
            text-align: center;
        }

    .input-form {
        width: 100%;
    }

        .input-form input {
            margin: 10px auto;
            width: 100%;
            font-size: 14pt;
        }

        .input-form button {
            width: 100%;
            margin: 10px auto;
        }

    ::placeholder {
        font-size: 14pt;
    }

    #advantages {
        grid-template-columns: 10px 1fr 1fr 10px;
        grid-template-rows: 92px 2fr 1fr 2fr 1fr 2fr 1fr;
    }

        #advantages .item-1 {
            grid-column: 1 / 5;
        }

    /*#starteducation .item-1 .heading {
        width: 329px;
    }*/

    #partners {
        grid-template-columns: 10px 1fr 1fr 1fr 10px;
    }

    .footer {
        height: 85px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #copyright {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: center;
        align-self: center;
    }

    #year {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        justify-self: center;
        align-self: center;
    }

    #wish {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .socials {
        display: none;
    }
}

/*Mobile L*/
@media screen and (max-width: 425px) {

    .modal-title {
        font-size: 18pt;
        line-height: 28pt;
    }

    .modal-body p {
        font-size: 12pt;
    }

    .heading {
        font-size: 22pt;
        line-height: 22pt;
    }

    #about p {
        font-size: 14pt;
    }

    #advantages {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 140px repeat(6, 2fr 1fr);
    }

        #advantages .item-1 {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            align-self: end;
        }

        #advantages .item-2 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }

        #advantages .item-3 {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }

        #advantages .item-4 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }

        #advantages .item-5 {
            grid-column: 2 / 3;
            grid-row: 5 / 6;
        }

        #advantages .item-6 {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
        }

        #advantages .item-7 {
            grid-column: 2 / 3;
            grid-row: 7 / 8;
        }

        #advantages .item-8 {
            grid-column: 2 / 3;
            grid-row: 8 / 9;
        }

        #advantages .item-9 {
            grid-column: 2 / 3;
            grid-row: 9 / 10;
        }

        #advantages .item-10 {
            grid-column: 2 / 3;
            grid-row: 10 / 11;
        }

        #advantages .item-11 {
            grid-column: 2 / 3;
            grid-row: 11 / 12;
        }

        #advantages .item-12 {
            grid-column: 2 / 3;
            grid-row: 12 / 13;
        }

        #advantages .item-13 {
            grid-column: 2 / 3;
            grid-row: 13 / 14;
        }

    .footer {
        height: 200px;
        grid-template-rows: 1fr 1fr 1fr 2fr;
    }

        .footer .socials {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            display: flex;
            justify-content: center;
            justify-self: center;
        }
}

/*Mobile M*/
@media screen and (max-width: 375px) {
    .modal-title {
        font-size: 14pt;
        line-height: 16pt;
    }

    .modal-body p {
        font-size: 10pt;
    }

    .heading {
        font-size: 16pt;
        line-height: 18pt;
    }

    .wrapper .btn {
        height: 28px;
        font-size: 12pt;
    }

    #about p {
        font-size: 12pt;
    }

    .input-form input {
        font-size: 12pt;
    }

    ::placeholder {
        font-size: 12pt;
    }

    .input-form button {
        width: 100%;
        margin: 10px auto;
    }
}
